body {
  margin: 0;
  overflow-x: hidden;
  /* background: #0b0513; */
  background: #221039;
}

.background {
  width: 100%;
  /* height: 100vh; */
  position: fixed;
  top: 30%;
  left: 0%;
  /* background: #3E1E68; */
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 72%;
  left: 44%;
  animation-duration: 11.9s;
  animation-delay: -4.5s;
  transform-origin: 11vw 21vh;
  box-shadow: 40vmin 0 9.5014549875vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 14%;
  left: 84%;
  animation-duration: 14.8s;
  animation-delay: -1.2s;
  transform-origin: 9vw -22vh;
  box-shadow: -40vmin 0 8.1307255539vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 1%;
  left: 39%;
  animation-duration: 15s;
  animation-delay: -8.7s;
  transform-origin: -1vw 0vh;
  box-shadow: 40vmin 0 5.750787376vmin currentColor;
}
.background span:nth-child(4) {
  color: #7452b0;
  top: 33%;
  left: 65%;
  animation-duration: 15.3s;
  animation-delay: -13.4s;
  transform-origin: 11vw 2vh;
  box-shadow: -40vmin 0 14.3492971137vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 19%;
  left: 45%;
  animation-duration: 12.6s;
  animation-delay: -10.8s;
  transform-origin: 0vw -21vh;
  box-shadow: 40vmin 0 12.7015658738vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFACAC;
  top: 82%;
  left: 54%;
  animation-duration: 13.2s;
  animation-delay: -8.1s;
  transform-origin: -17vw -5vh;
  box-shadow: -40vmin 0 5.1711276443vmin currentColor;
}
.background span:nth-child(7) {
  color: #FFACAC;
  top: 5%;
  left: 3%;
  animation-duration: 10.8s;
  animation-delay: -4.9s;
  transform-origin: 18vw -3vh;
  box-shadow: 40vmin 0 5.4089566482vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 9%;
  left: 36%;
  animation-duration: 11.3s;
  animation-delay: -5.9s;
  transform-origin: -22vw 13vh;
  box-shadow: -40vmin 0 8.5242850524vmin currentColor;
}
.background span:nth-child(9) {
  color: #7a55ba;
  top: 54%;
  left: 75%;
  animation-duration: 14.4s;
  animation-delay: -0.2s;
  transform-origin: -2vw -23vh;
  box-shadow: 40vmin 0 5.1845603723vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 60%;
  left: 80%;
  animation-duration: 11s;
  animation-delay: -5.7s;
  transform-origin: -5vw -24vh;
  box-shadow: -40vmin 0 14.4293279566vmin currentColor;
}
.background span:nth-child(11) {
  color: #E45A84;
  top: 9%;
  left: 45%;
  animation-duration: 15.2s;
  animation-delay: -2.9s;
  transform-origin: -12vw -21vh;
  box-shadow: -40vmin 0 8.8034787145vmin currentColor;
}
.background span:nth-child(12) {
  color: #E45A84;
  top: 91%;
  left: 79%;
  animation-duration: 10.9s;
  animation-delay: -6.1s;
  transform-origin: -6vw -10vh;
  box-shadow: 40vmin 0 10.5193777115vmin currentColor;
}
.background span:nth-child(13) {
  color: #583C87;
  top: 11%;
  left: 88%;
  animation-duration: 13.1s;
  animation-delay: -14s;
  transform-origin: -9vw 13vh;
  box-shadow: 40vmin 0 6.016829712vmin currentColor;
}
.background span:nth-child(14) {
  color: #7c58bb;
  top: 32%;
  left: 32%;
  animation-duration: 12.9s;
  animation-delay: -0.4s;
  transform-origin: -10vw 25vh;
  box-shadow: 40vmin 0 14.6697206964vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 31%;
  left: 8%;
  animation-duration: 11.9s;
  animation-delay: -7.7s;
  transform-origin: 24vw -18vh;
  box-shadow: 40vmin 0 12.5475980768vmin currentColor;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: 19%;
  left: 63%;
  animation-duration: 12.4s;
  animation-delay: -15.7s;
  transform-origin: -14vw -1vh;
  box-shadow: 40vmin 0 9.0291204083vmin currentColor;
}
.background span:nth-child(17) {
  color: #7b56ba;
  top: 16%;
  left: 74%;
  animation-duration: 10.2s;
  animation-delay: -7.1s;
  transform-origin: 12vw -1vh;
  box-shadow: -40vmin 0 14.3873289214vmin currentColor;
}
.background span:nth-child(18) {
  color: #FFACAC;
  top: 98%;
  left: 28%;
  animation-duration: 12.9s;
  animation-delay: -11.7s;
  transform-origin: -20vw -21vh;
  box-shadow: -40vmin 0 9.5859437468vmin currentColor;
}
.background span:nth-child(19) {
  color: #E45A84;
  top: 54%;
  left: 88%;
  animation-duration: 15.2s;
  animation-delay: -7.7s;
  transform-origin: 4vw 24vh;
  box-shadow: -40vmin 0 12.763165989vmin currentColor;
}
.background span:nth-child(20) {
  color: #65469a;
  top: 33%;
  left: 8%;
  animation-duration: 12.9s;
  animation-delay: -5.8s;
  transform-origin: -23vw -5vh;
  box-shadow: -40vmin 0 14.6810002415vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}