* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	font-family: "Roboto Slab", serif;
	/* background: #e9e9e9;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; */
	/* overflow: hidden; */
	z-index: 10;
}


h1 {
	font-size: 40px;
  text-align: center;
}

.container{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
}

.bars{
	width: 30px;
	height: 4px;
	background: rgb(255, 255, 255);
    position: fixed;
    top: 6vh;
    right: 5vw;
}



nav{
	position: absolute;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 30px;
	background: rgba(0, 0, 0, 0.863);
	backdrop-filter: blur(8px);
	right: -200vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	flex-direction: row;
	align-content: center;
}

nav ul {
	list-style: none;
	position: fixed;
	top: 5vh;
	margin: auto;
}

nav ul li{
	margin-bottom: 45px;
}

nav ul li a{
	color: #fafafa;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .1s ease;
	transform: scaleX(0);
}


nav ul li a:hover:after{
	transform: scaleX(1);
}

nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}

nav .close div::before,
nav .close div::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #fff;
	transition: background .1s ease;
}
nav .close div::before{
	transform: rotate(-45deg);
}

nav .close div::after{
	transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after{
	background: rgb(209, 3, 3);
}

 

  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
    padding-left: 0.5em;
  /*  border-left: 2px solid white;*/
  }
  
  
  
  @keyframes shine_border {
    0% {
      border-color: #ffffff;
  
    }
    100% {
      border-color: #ffffff;
      box-shadow: 0 0 0.6rem #f7f0f7, 0 0 1.5rem #dbd7db,
        -0.2rem 0.1rem 1rem #dbd7db, 0.2rem 0.1rem 1rem #dbd7db,
        0 -0.5rem 2rem #9e989b, 0 0.5rem 3rem #9e989b;
  
    }
  }
  
  @keyframes shine_background {
    0% {
      background-color: #b6aded;
  
    }
    100% {
      background-color: #7e6bed;
  
    }
  }
  .nav li:after {
    content: "";
    display: block;
  /*  border-left: 2px solid white;*/
  /*  2px*/
  /*  border-top: 2px solid white;*/
    border: 2px solid white;
    border-radius: 50%;
    
    height: 20px;
    width: 20px;
    background-color: yellow;
    position: absolute;
    left: -10px;
    top: 15px;
    animation:shine_border 2s ease-in-out alternate infinite, shine_background 2s ease-in-out alternate infinite ;
  
  
  }
  
  .nav li:first-child.active:after{
    content:"Home";
    width: fit-content;
    border-radius: 0;
    padding: 2px 2px;
  }
  .nav li:nth-child(2).active:after{
    content:"About Us";
    width: fit-content;
    border-radius: 0;
    padding: 2px 2px;
    white-space: nowrap;
  }
  
  .nav li:nth-child(3).active:after{
    content:"Glimpses";
    width: fit-content;
    border-radius: 0;
    padding: 2px 2px;
  }
  .nav li:nth-child(4).active:after{
    content:"G20";
    width: fit-content;
    border-radius: 0;
    padding: 2px 2px;
  }
  
  
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 30px;
    height: 30px;
    top: 35px;
    left: -15px;
  }
  /*.nav li:first-child.active :after { 
    content: "abc";
    width: 30px;
    height: 30px;
    top: 35px;
    left: -15px;
  }*/
  
  /*.nav li.active:after {
    content: "About us";
    width: 30px;
    height: 30px;
    top: 35px;
    left: -15px;
  }*/
  .nav li.active .nav__counter {
    visibility: hidden;
    font-size: 48px;
  }
  .nav li.active .nav__title {
    height: 40px;
    opacity: 1;
    overflow: visible;
    visibility: hidden;
  }
  .nav li.active .nav__body {
    height: 100px;
    opacity: 1;
    overflow: visible;
  }/*# sourceMappingURL=scroll.css.map */
  

  
  .container{
    cursor: pointer;
    position: absolute;
    padding-top: 30px;
    right: 8%;
    width: 40px;
    height: 30px;
  }
  
  .bars{
    width: 40px;
    height: 5px;
    background: #ffffff;
    animation:shine_border 5s ease-in-out alternate infinite;
  }
  
  .bars::before,
  .bars::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #ffffff;
    animation:shine_border 2s ease-in-out alternate infinite;
  }
  
  .bars::before{
    margin-top: 9px;
  }
  
  .bars::after{
    margin-top: 18px;
  }
 
 

@media (max-width: 992px){
  h1{
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px){
    .bars{
        top: 4vh;
    }
    nav element.style {
        height: 117vh;
    }
    nav ul{
        position: fixed;
        top: 6vh;
    }
    nav ul li{
        margin: 45px 0;
    }
    nav .close{
      right: 10%;
    }
}