* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	/* font-family: "Montserrat", sans-serif;
	background: #e9e9e9;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; */
    z-index: 10;
}

h1 {
	font-size: 40px;
  text-align: center;
}

.container{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
}

.bars{
	width: 30px;
	height: 4px;
	background: rgb(255, 255, 255);
    position: fixed;
    top: 6vh;
    right: 5vw;
}

.bars::before,
.bars::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: rgb(255, 255, 255);
}

.bars::before{
	margin-top: 9px;
}

.bars::after{
	margin-top: 18px;
}

nav{
	position: absolute;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 30px;
	/* height: 0px; */
	background: rgba(0, 0, 0, 0.863);
	backdrop-filter: blur(8px);
	right: -100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
}

nav ul {
	list-style: none;
	position: fixed;
	top: 4vh;
}

nav ul li{
	margin: 45px 0;
}

nav ul li a{
	color: #fafafa;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .1s ease;
	transform: scaleX(0);
}


nav ul li a:hover:after{
	transform: scaleX(1);
}

nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}

/* nav h2{
	position: absolute;
	top:5%;
	left: 5%;
	opacity: 0;
	pointer-events: none;
	color: #fff;
	font-size: 2em;
} */

nav .close div::before,
nav .close div::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #fff;
	transition: background .1s ease;
}
nav .close div::before{
	transform: rotate(-45deg);
}

nav .close div::after{
	transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after{
	background: rgb(209, 3, 3);
}

@media (max-width: 992px){
  h1{
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px){
    .bars{
        top: 4vh;
    }
    nav element.style {
        height: 117vh;
    }
    nav ul{
        position: fixed;
        top: 3vh;
    }
    nav ul li{
        margin: 40px 0;
    }
}