@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
  width: 96vw;
  min-height: 100vh;
   background: #40E0D0;
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  display: grid;
  place-items: center;
  background-image: url('https://mansi-singla-31215.github.io/T-23-Sponsor/bg-image.jpeg');
}

.contain {
  margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Codystar';
   /* background: black; */
   height: 9rem;
   /* background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'); */
}





#div-0 { margin: 10px; }
.contained {
  margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 4rem;
   color: #ffffff;
}

.imgContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  z-index: 15;
  margin: 4px;
  padding-bottom: 20px;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 20px;
  /* display: inline-block; */
  text-align: center;
}

.box {
  align-items: center;
  backdrop-filter: blur(6px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
  width: 79%;
}

* {
  box-sizing: border-box;
}







.neons {
  margin: 20px;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}


/* --------------------------------------------------------------------------------------------------------- */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.card{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.cardBox {
  width: 300px;
  height: 400px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
    /* margin-top: 100px; */
}
.card {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}
.card h2, span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  pointer-events: none;
  
}

span {
  top: 75%;
}

.card .content h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
.card .content p {
  font-size: 1.6rem;
  line-height: 25px;
}
.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;

}
.card:hover .image{
opacity: 0.1;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40E0D0;
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 930px){
 .neons h1{
  font-size: 7rem;
 }
}

@media only screen and (max-width: 700px){
  .neons h1{
   font-size: 5rem;
  }
  .cardBox {
    width: 230px;
    height: 300px;
  }

  .contained h1{
    font-size: 28px;
  }
  .card .content h4{
    font-size: 1.5rem;
  }
 }

 @media only screen and (max-width: 500px){
  .neons h1{
    font-size: 3.9rem;
   }
 }